{{ define "main" }}
  {{ $docsSections := slice "getting-started" "user-guide" "developer-guide" }}
  {{ if in $docsSections .Section }}
  <div class="container-fluid docs-container" role="main">
    <div class="row">
      <div class="col-md-3 col-lg-2 docs-sidebar-col">
        {{ partial "docs_sidebar.html" . }}
      </div>
      <div class="col-md-9 col-lg-10 docs-content">
        <article role="main" class="blog-post">
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
  {{ else }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
{{ end }}
