#!/bin/bash



#MSUB -r {{ job_name }}     # Job name
#MSUB -n {{ ntasks }}       # Number of tasks to use
#MSUB -T {{ time }}         # Elapsed time limit in seconds
#MSUB -o batch%I.out        # Standard output. %I is the job id
#MSUB -e batch%I.err        # Error output. %I is the job id
#MSUB -q rome         # Partition name (see ccc_mpinfo)
#MSUB -A gen15872           # Project ID
#MSUB -N {{ nodes }}
#MSUB -c {{ cores_per_task }}
#MSUB -m scratch



set -x

cd ${BRIDGE_MSUB_PWD}


echo "===== My JOB Information ===="
echo "Node List:  $SLURM_NODELIST"
echo "my jobID:  $SLURM_JOB_ID"
echo "Partition: $SLURM_JOB_PARTITION"
echo "submit directory:  $SLURM_SUBMIT_DIR"
echo "submit host:  $SLURM_SUBMIT_HOST"
echo "In the directory: $(pwd)"
echo "As the user: $(whoami)"
echo ${BRIDGE_MSUB_PWD}
echo "============================"

module add mpi/openmpi/5.0.5

ccc_mprun {{benchmark_cmd}}


