#!/bin/bash

#SBATCH --job-name={{ job_name }}

#SBATCH --ntasks={{ ntasks }}
#SBATCH --nodes={{ nodes }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --time={{ time }}
#SBATCH --chdir={{ chdir }}
#SBATCH -o batch%j.out
#SBATCH -e batch%j.err
#### --exclusive 
#SBATCH --constraint ['bora']

module purge
module load mpi/openmpi/4.0.1

echo "===== My JOB Information ===="
echo "Node List:  $SLURM_NODELIST"
echo "my jobID:  $SLURM_JOB_ID"
echo "Partition: $SLURM_JOB_PARTITION"
echo "submit directory:  $SLURM_SUBMIT_DIR"
echo "submit host:  $SLURM_SUBMIT_HOST"
echo "In the directory: $(pwd)"
echo "As the user: $(whoami)"
echo "============================"

mpirun  --mca btl ^uct --mca fs ^lustre --mca osc ^ucx --mca pml ^ucx --mca btl_openib_allow_ib 1  {{benchmark_cmd}}



