#!/bin/bash

#SBATCH --job-name={{ job_name }}
#SBATCH --ntasks={{ ntasks }}
#SBATCH --nodes={{ nodes }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --chdir={{ chdir }}
#SBATCH -o batch%j.out
#SBATCH -e batch%j.err
#SBATCH --exclusive 


FILENAME={{ output_file }}
SUMMARY_RESULTS={{ summary_results }}

# Record job start time
date "+%Y-%m-%d %H:%M:%S" > job.start

# Execute the command
mpirun  --mca btl ^uct --mca fs ^lustre --mca osc ^ucx --mca pml ^ucx --mca btl_openib_allow_ib 1 \
{{cmd}} \
-O summaryFile=${SUMMARY_RESULTS} \
-O summaryFormat=csv -o ${FILENAME}

# Capture exit code
exit_code=$?

# Record job end time
date "+%Y-%m-%d %H:%M:%S" > job.end

# Write status based on exit code
if [ $exit_code -eq 0 ]; then
    echo "SUCCESS" > job.status
else
    echo "ERROR" > job.status
fi
